# Ignore common files and directories
.git
.gitignore
.vscode
.idea
*.log

# Ignore build artifacts
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore dependency files
vendor
Godeps
Godeps.json

# Ignore editor backup files
*~
*.swp
*.swo

# Ignore Docker-specific files
Dockerfile
.dockerignore
