<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>
<body>
    <div>
        <div
            id="view-ping-list"
            hx-get="/view-ping-list"
            hx-swap="innerHTML"
            hx-trigger="load"
        >Loading ping list...</div>
        <hr/>
        <div
            id="form-create-ping"
            hx-get="/form-ping-create"
            hx-swap="innerHTML"
            hx-trigger="load"
        >Loading create ping form...</div>
    </div>
</body>
</html>
